 {% load static %}
 
 <div class="card mb-3">
               <div class="row">
                    <div class="col-md-3">
                        <img src="{{blog.image.url}}" alt="" class="img-fluid"></div>
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                           <h5 class="card-title">
                            <a href="{%url 'blog_detail' blog.id %}">
                            {{blog.title}}
                            Komple Web Geliştirme Kursu </h5>
                            <p class="card-text">{{blog.description}}
                        </p>
                        </div>
                        
                    </div>
               </div>
           
            </div>
