<div class="card mb-4 shadow-sm h-100">
    <img src="{{ blog.image.url }}" 
         class="card-img-top blog-thumbnail"
         alt="{{ blog.title }}">
    <div class="card-body">
        <h5 class="card-title">{{ blog.title }}</h5>
        <p class="card-text text-muted">{{ blog.description|truncatechars:100 }}</p>
    </div>
    <div class="card-footer bg-white">
        <a href="{% url 'blog_detail' blog.id %}" class="btn btn-sm btn-outline-primary">
            Devamını Oku <i class="fas fa-arrow-right ms-1"></i>
        </a>
    </div>
</div>